.carre {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 30px;
  background: rgba(254, 254, 254, 0.131);
  border: 1px solid rgba(255, 255, 255, 0.36);
  box-shadow: inset 42.4px -42.4px 42.4px rgba(193, 193, 193, 0.131),
    inset -42.4px 42.4px 42.4px rgba(255, 255, 255, 0.131);
  backdrop-filter: blur(6.784px);
  border-radius: 20px;
  margin-top: 8em;
}
.item1 {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly, center;
  margin-top: 20px;
  border-radius: 4px;
}
.item2 {
  padding-top: 10px;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}
.item3 {
  padding-top: 10px;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  color: #19344d;
}
.item4 {
  padding-top: 10px;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  color: #19344d;
  border-bottom-width: 10px;
  border-bottom: solid;
  border-bottom-color: white;
  padding-bottom: 20px;
}
hr {
  width: 50%;
  height: 5px;
  color: white;
}
.logox {
  padding-top: 10px;
  padding-bottom: 10px;
  flex-basis: 100%;
  height: 50px;
  fill: white;
}
.logox:hover {
  fill: #183153;
}

.logo1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1rem;
}
ul {
  list-style-type: none;
}
.logoo {
  display: inline-flex;
  padding: 0 11.6px;
}
.logoo:hover {
  fill: white;
  transition: 0.5sc;
}
