.flex_tableau {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 40%;
  height: 50%;
  position: relative;
}

.google_alerte {
  text-align: center;
  border-radius: 5px;
}
.feadly {
  background-color: grey;
  padding-bottom: 50px;
  padding-right: 50px;
  padding-left: 50px;
  text-align: center;
  border-radius: 5px;
  margin-top: -50px;
}
.flex_tableau h4 {
  font-size: 20px;
  margin: 10px;
}
.flex_tableau .feadly p {
  margin-top: 10px;
  text-align: justify;
}
.flex_tableau .google_alerte p {
  margin-top: 10px;
  text-align: justify;
}
.flex_tableau .card {
  background-color: grey;
  border-radius: 10px;
}
.card_img {
  width: 100%;
  border-radius: 5px;
  height: 100%;
  margin-top: -50px;
}

.flex_tableau .boxdl {
  margin-top: 50px;
}

.flex_tableau .dl:hover {
  background: #ebf4fa;
  transition: 0.5s;
}
.flex_tableau .boxdl .dl {
  font-size: 17px;
  font-style: italic;
  font-weight: bold;
  color: #3d3c3a;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 0.4em 2em;
  width: 20px;
  height: 20px;
  border: solid;
  border-radius: 10px;
}

article > div > ul > li {
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 30px;
}
.logo1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1rem;
}
