div ul a .main_title_project {
  font-size: 20px;
  width: 276px;
  height: 230px;
  background: rgba(254, 254, 254, 0.131);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: inset 42.4px -42.4px 42.4px rgba(193, 193, 193, 0.131),
    inset -42.4px 42.4px 42.4px rgba(255, 255, 255, 0.131);
  backdrop-filter: blur(6.785px);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
div ul a h4 .appli {
  text-decoration: none;
  text-align: center;
  color: #041b15;
  opacity: 0.5;
  font-size: 22px;
  text-transform: uppercase;
}
div ul a .main_title_project {
  text-decoration: none;
  z-index: 2;
  text-align: center;
  color: #3d3c3a;
}
div ul a .main_title_project:hover {
  text-decoration: none;
  text-align: center;
  visibility: visible;
}
div ul .button_project:hover {
  transition: 0.5s;
  border-radius: 24px;
  text-decoration: none;
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  color: red;
  visibility: visible;
  background-color: rgba(255, 255, 255, 0.3);
}
div ul .button_project {
  text-decoration: none;
}
div ul .button_project h4 .python_svg {
  width: 50%;
  z-index: 1;
}
div ul .button_project:hover h4 .python_svg {
  width: 50%;
}
div ul a h4 .appli {
  text-decoration: none;
  text-align: center;
  color: #041b15;
  opacity: 0.5;
  font-size: 22px;
  text-transform: uppercase;
}
div ul > a:hover > h4 > .appli {
  text-decoration: none;
  text-align: center;
  color: #041b15;
  z-index: 2;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s linear;
  text-transform: uppercase;
}
