.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  z-index: 9999;
}
.header > nav {
  margin-left: auto;
}
.header > nav > ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 1rem;
  padding-right: 1rem;
  height: 100%;
  font-size: 20px;
}
.header > nav > ul > li > a {
  text-decoration: none;
  color: #3d3c3a;
  padding: 7px 13px;
}

.header > div > h1 {
  color: #041b15;
  font-size: 35px;
  font-weight: bold;
  line-height: 80px;
  padding-left: 100px;
}

.header > nav > ul > li > a:hover {
  background: white;
  transition: 0.5s;
}

.header > nav > ul > li > .active {
  text-decoration: underline;
  text-decoration-color: #07c5fa;
  text-decoration-thickness: 3px;
}

@media screen and (max-width: 1210px) {
  .header > div > h1 {
    color: #041b15;
    font-size: 20px;
    font-weight: bold;
    line-height: 80px;
    padding-left: 5px;
  }
  .header > nav {
    margin-left: 3%;
  }
}
@media screen and (max-width: 1050px) {
  .header > div > h1 {
    color: #041b15;
    font-size: 0px;
    font-weight: bold;
    line-height: 80px;
    padding-left: 5px;
  }
  .header > nav {
    margin-left: 3%;
  }
}
@media screen and (max-width: 880px) {
  .header > nav > ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1rem;
    padding-right: 5px;
    height: 100%;
    text-transform: uppercase;
    font-size: 14px;
  }
  .header > nav {
    margin-left: none;
  }
}
