---
// Component Imports
import Hero from "../components/Hero";
import Layout from "../layouts/default.astro";
import "../styles/alternance.css";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout>
  <Hero
    title="Mon alternance"
    text="J'ai eu la chance d'intégrer l'équipe de chez Orange pour me permettre d'entreprendre mon BTS SIO SISR en alternance. "
  />
  <div class="container">
    <div class="content_txt">
      <div class="content_title">
        <h2 class="titre2">Présentation</h2>
      </div>
      <p class="text1">
        Le poste que j'occupe est "apprenti technicien réseau structurant" au
        sein de l'unité d'intervention porte de Paris: "UI PP". Cela comprend
        différentes activités telle que: la maintenance et la production du
        réseau sur deux départements: le Val d'oise et les Yvelines. Je fais
        partis d'une équipe de 15 techniciens et un expert. Les techniciens
        malgrés leurs spécialitées de formation sont amenés à travailler sur
        l'ensemble des missions : le réseau mobile, la transmission et la
        commutation.
      </p>
    </div>
    <div class="contentimg">
      <img src="./assets/illustration2.svg" alt="orange" class="img1" />
    </div>
  </div>
</Layout>
