---
// Component Imports
import Hero from "../components/Hero";
import Bouton_cv from "../components/Bouton_cv";
import Bouton_poursuite from "../components/Bouton_poursuite";
import Layout from "../layouts/default.astro";
import "../styles/curriculumvitae.css";
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout>
  <section class="hero">
    <h2>Curriculum Vitae</h2>
    <p>
      Tout d'abord, j'ai commencé mon cursus post-bac en BTS diététique enfin
      j'ai exercé au seins d'un hopital pédiatrique à Margency. Néanmoins, j'ai
      décidé de changer de direction professionnel et d'apprendre
      l'informatique.
    </p>
    <hr />
    <div class="flex-row">
      <Bouton_cv />
      <Bouton_poursuite />
    </div>
  </section>
  <embed src="./assets/nicolas_serres_CV.pdf" width="1000px" height="900px" />
</Layout>
