---
// Component Imports
import Hero from "../components/Hero";
import Bouton_tableau from "../components/Bouton_tableau";
import Layout from "../layouts/default.astro";
import "../styles/tableau.css";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout>
  <section class="hero">
    <h2>Tableau de synthèse</h2>
    <p>
      Ci-dessous mon tableau de synthèse qui regroupe mes différents projets au
      cours de ces deux années d'études.
    </p>
    <hr />
    <div class="flex-row">
      <Bouton_tableau />
    </div>
  </section>
  <embed src="./assets/tbsynth2.pdf" width="1000px" height="900px" />
</Layout>
