---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
import "../styles/Nav.css";
console.log("mon chemin est ", currentPath);
---

<header class="header">
  <div>
    <h1>Nicolas Serres</h1>
  </div>
  <nav>
    <ul class="mobile_nav">
      <li class="mobile_nav_li">
        <a class="navlink" href="/"> Accueil</a>
      </li>
      <li class="mobile_nav_li">
        <a class="navlink" href="/alternance"> Alternance</a>
      </li>
      <li>
        <a class="navlink" href="/curriculumvitae"> Curriculum vitae</a>
      </li>
      <li>
        <a class="navlink" href="/projet"> Projet</a>
      </li>
      <li>
        <a class="navlink" href="/veille"> Veille IT</a>
      </li>
      <li>
        <a class="navlink" href="/tableau"> Tableau</a>
      </li>
    </ul>
  </nav>
</header>
